{
  "ConnectionStrings": {
    "DBConnect": "Host=my_postgresql_host_ip;Port=my_host_port;Database=my_db;Username=my_username;Password=my_db_password"
  },
  "EmailService": {
    "Host": "smtp.mail.com",
    "Port": 465,
    "Sender": "from-sender@mail.com",
    "Password": "mail_password",
    "To": "send-to@mail.com"
  }
}

