<!-- Hero slider section -->
<section class="hero-section overflow-hidden">
    <div class="hero-slider owl-carousel">
        <div class="hero-item d-flex align-items-center justify-content-center text-center"
             style="background-image: url('/img/slider-bg-1.jpg')">
            <div class="container">
                <h2>Game on 1!</h2>
                <p>Desc 1</p>
                <a href="#" class="site-btn">Read More <img src="/img/icons/double-arrow.png" alt="#"/></a>
            </div>
        </div>
        <div class="hero-item d-flex align-items-center justify-content-center text-center" style="background-image: url('/img/slider-bg-2.jpg')">
            <div class="container">
                <h2>Game on 2!</h2>
                <p>Desc 2</p>
                <a href="#" class="site-btn">Read More <img src="/img/icons/double-arrow.png" alt="#"/></a>
            </div>
        </div>
    </div>
</section>
<!-- Hero slider section end-->