@model GameBlog.ViewModel.ContactFormViewModel

<section class="page-top-section" style="background-image: url('/img/page-top-bg/4.jpg')">
    <div class="page-info">
        <h2>Newsletters</h2>
        <div class="site-breadcrumb">
            <a href="/">Home</a> /
            <span>Newsletters page</span>
        </div>
    </div>
</section>


<!-- Contact page -->
<section class="contact-page">
    <div class="container">
        <div class="map">

        </div>
        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1">

                <div class="alert alert-success">
                    Subscription success!
                </div>
            </div>
        </div>
    </div>
</section>