<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>GamDev</title>
    <meta charset="UTF-8">
    <title>@RenderSection("metaTitle", false)</title>


    <meta name="keywords" content="@RenderSection("metaKeys", false) "/>
    <meta name="description" content="@RenderSection("metaDesc", false) "/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/slicknav.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>


</head>
<body>

<partial name="Partial/_Header"/>

<main>
    @RenderBody()
</main>


<partial name="Partial/_NewsLetters"/>


<partial name="Partial/_Footer"/>


<!--====== Javascript & Jquery ======-->
@await RenderSectionAsync("Scripts", required: false)


</body>
</html>